include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include *.py
include *.txt
include *.yml
include .coveragerc
include .editorconfig
include tox.ini

recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include tests *.md
recursive-include tests *.py
recursive-include tests *.txt

recursive-include social_2fa/templates *
recursive-include social_2fa/static *
recursive-include social_2fa/locale *

global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
global-exclude *.so
global-exclude *.dylib
global-exclude *.dll
global-exclude .DS_Store
global-exclude .git
global-exclude .gitignore
global-exclude .hg
global-exclude .hgignore
global-exclude .svn
global-exclude .svnignore
